<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Projecto IA</title>
		<link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
		<div class="container">
			<nav class="nav0" id="nav">
				<button class="icon" id="toggle">
					<div class="line line1"></div>
					<div class="line line2"></div>
				</button>
				<ul>
					<li><a href="./index.html" class="current">Inicio</a></li>
					<li><a href="./slide.html">Imagens</a></li>
				</ul>
			</nav>
		</div>

		<script src="assets/js/app.js"></script>
	</body>
</html>
